html, body {
  background: #265353;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-size: 22px;
  line-height: 1.33;
  color: #031514;
}

@media screen and (max-height: 599px) {
  body {
    font-size: 18px;
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.key {
  transition: opacity 0.1s ease-out, transform 0.1s ease-out;
}

.key.active {
  opacity: 0.75;
  transform: scale(0.8);
}

.animate-all {
  transition: all 0.5s ease-in-out;
}

.animate-all-fast {
  transition: all 0.15s ease-in-out;
}

.blur-bg {
  -webkit-backdrop-filter: blur(6px);
  backdrop-filter: blur(6px);
}
